
.no_radius {    
   border-radius: 5px;
 }

.pic_container {
   position: relative;
   width: 100%;
   height: auto;
   margin-bottom: 3%;
}

 .high_res_pic{
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   pointer-events: none; /* Prevents image from blocking mouse events */
   filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
 }

 .svg_pic {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   pointer-events: all; /* Prevents SVG from blocking mouse events */
 }

 svg g{
   stroke-opacity: 0;
}
                            
svg g:hover{
   stroke-opacity: 0.8;
}

svg .cls-1 {
   fill: rgba(0, 0, 0, 0);
}

svg .cls-2 {
   fill: rgba(0, 0, 0, 0);
   stroke: #ffffff;
   stroke-miterlimit: 10;
   stroke-width: 5px;
}


.map_and_creation{
   width: 100%;
   overflow: auto;
}
.map_back_image, .creation_image {
   width: 5%;
   height: auto;
   filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}
.map_back_image, .map_back_text{
   float:left;
}
.creation_image, .creation_text{
   float:right;
}
.map_back_text, .creation_text{
   margin-left:1%;
   margin-right: 1%;
   margin-top: 1%;
   font-size: 1.8vw;
}
.map_back_image:hover, .creation_image:hover {
   filter:none;
   -webkit-filter: grayscale(100%);
   -moz-filter:    grayscale(100%);
   -ms-filter:     grayscale(100%);
   -o-filter:      grayscale(100%);
   cursor: pointer;
}



.era{
   margin: 5%;
}
.era_title_div {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   height: fit-content;
   margin-top: 4%;
   margin-bottom: 2%;
}
.era_icon{
   width: 2.7vw;
   filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));

}
.era_title{
   margin-top: auto;
   margin-bottom: auto;
   font-size: 2vw;
}

.description {
   /*display: flex;*/
   overflow:auto;
}
.character_description_div {
   justify-self: center;
}
.character_image_single{
   width: 18.5vw;
   filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.6));
   
}
.character_image_multiple{
   width: 40vw;
   filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.6));
}
.image_caption{
   padding-top: 6%;
   padding-left: 8%;
   padding-right: 8%;
   padding-bottom: 8%;
   font-size: 1.2vw;
}
.image_caption_single{
   width: 18.5vw;
}
.image_caption_multiple{
   padding-top: 2%;
   width: 40vw;      
}
.character_image_div {
   float:right;
}