
*{
    box-sizing: border-box;
    
    div,h1,h2,h3,h4,h5,h6{
     font-family: "Jua", sans-serif;
    };
    p, ul, li{
      font-family: "Nunito", sans-serif;
      font-size: 20px;
    };
    
}


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.sofia-sans-family {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-family {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* FONT MENU AND FOOTER */
ul.alex_ul_main, ul.hype_ul_main, ul.laura_ul_main, li.list-inline-item{
  ul{
   font-family: "Jua", sans-serif; 
  };
  li{
    font-family: "Jua", sans-serif; 
  };
  a{
    font-family: "Jua", sans-serif; 
  }
}
/* END FONT MENU AND FOOTER */



/* TITLE PLAYMO 90S TRILOGY */
.title_div{
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  display: flex;
}
.title_image{
  width: 53%;
}


/* MENU */
.div_images_menu{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 130px;
}
.background_menu_div{
  margin-top: 30px;
  position: absolute;
  top: 0px;
}
.menu_background_image{
  width: 1300px;
}

.alex_image{
    background: url('./icons/alex_icon.png');
    width: 326px;
    height: 400px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.hype_image{
  background: url('./icons/hype_icon.png');
    width: 326px;
    height: 400px;
    align-self: flex-end;
    display: flex;
    justify-content: center;

}
.laura_image{
  background: url('./icons/laura_icon.png');
    width: 326px;
    height: 400px;
    align-self: flex-end;
    display: flex;
    justify-content: center;

}

.alex_ul_main{
  position: relative;
  left:145px;
}
.hype_ul_main{
  position: relative;
}
.laura_ul_main{
  position: relative;
  left: -130px;
}

div.alex_image:hover{
  background: url('./icons/alex_icon_over.png');
}
div.hype_image:hover{
  background: url('./icons/hype_icon_over.png');
}
div.laura_image:hover{
  background: url('./icons/laura_icon_over.png');
}



/*.main_div{
    position: relative;
    top: -90px;
    background-color: rgb(230, 230, 230);
    width: 80%;
    margin: auto;
    margin-top: 0px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: block;
    
}*/


/* IFRAME BOX */
.index_iframe{
  position: relative;
  top: -90px;
  background-color: #e6e6e6;
  width: 80%;
  margin: auto;
  margin-top: 0px;
  border: 2px solid transparent;
  border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: block;
  
}



/* BODY OTHER PAGES */
.iframe_contentPage_body{
  top: -90px;
  background-color: #e6e6e6;
  margin: auto;
  margin-top: 0px;
  padding: 45px;
  padding-top: 40px;
  /*display: block;*/
}



/*DROPDOWN MENU*/
ul {
    list-style-type: none;
    li {
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 10px;
      transition: background 0.2s;
      a {
        color: #b3b3b3;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        white-space: nowrap; /*text on one line*/
        font-weight: bold;
        text-shadow: 3px 2px 3px rgba(255,255,255,.2), 2px 1px 2px #252525;
        }
      ul {
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        position: relative;
        display: flex;
        align-self: flex-end;
        margin: 12px -12px;
        padding: 0;
        /*background: #FFA91B;
        border: 2px solid #F7C833;
        border-right: 2px solid #F89329;
        border-bottom: 2px solid #F89329;*/
        background: #7aa2d6;
        border: 2px solid #5f7ea7;
        border-right: 2px solid #4f6889;
        border-bottom: 2px solid #4f6889;
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          a {
            color: #2375D8;
          }
          &:hover {
            /*background: #EC4138;
            border: 2px solid #F05749;
            border-right: 2px solid #E02A21;
            border-bottom: 2px solid #E02A21;*/
            background: #084B83;
            border: 2px solid #1772bd;
            border-right: 2px solid #06365d;
            border-bottom: 2px solid #06365d;
        }
        }
      }
      &:hover {
        a {
            color: #F9F8FD;
        }
        ul {
          z-index: 1;
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px #EBECF1;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }

  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }

/*END DROPDOWN MENU*/
  

/*BACKGROUND GRADIENT*/
.body_index {
  margin: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #eed452, #e73c7e, #23a6d5, #49ff20);
  background-size: 2500% 2500%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*END BACKGROUND GRADIENT*/

/* GRADIENT BORDER */
.gradient_border{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  background: linear-gradient(#e6e6e6 0 0) padding-box, 
  linear-gradient(-45deg, #eed452, #e73c7e, #23a6d5, #49ff20) border-box;           
  background-size: 2000% 2000%;
  animation: gradient 15s ease infinite;
  
  border: 2px solid transparent;
  border-radius: 20px;
}


/* FOOTER */
.footer-basic {
  padding:40px 0;
  background-color:transparent;
  color:#ffffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#d1d0d0;
  margin-bottom:0;
}

/*END FOOTER*/



/* SCROLL MENU */

.scroll_buttons_div{
  width: fit-content;
  height: fit-content;
  position:absolute;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  top:500px;
  left:89%;
}

@import url('https://fonts.googleapis.com/css?family=Exo+2');
*,
*:before,
*:after{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

nav.menu a{
  text-decoration: none;
  color: #4e4e4e;
  padding: 13px;
  opacity: .8;
  white-space: nowrap;
  font-family: "Jua", sans-serif;
}

nav.menu a:hover{
  opacity: 1;
}

nav.menu a:before{
  font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
}

.menu-item:first-of-type a{
  border-radius: 13px 0 0 21px;
}

.menu-item:last-of-type a{
  border-radius: 0 21px 13px 0;
}

.sub-menu .menu-item:first-of-type a{
  border-radius: 13px 21px 0 0;
}

.sub-menu .menu-item:last-of-type a{
  border-radius: 0 0 21px 13px;
}
 
nav{
  max-width: 360px;
  max-height: 480px;
  display: flex;
  align-items: flex-end;
  animation: bounceIn 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
  animation-delay: 300ms;
  transform-style: preserve-3d;
  opacity: 0;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scaleX(.55) scaleY(.89);
  }
  50%{
    opacity: 1;   
  }
  100%{
    opacity: 1;   
  }
}

 ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 89px;
  transform: skewY(-5deg) scale(.89) rotateX(-5deg) rotateZ(-3deg);
  
}

.sub-menu a{
    font-size: 15px;
    
}

.menu-item{
  position: relative;
  display: inline-flex;
}

.menu-item:hover .sub-menu{
  pointer-events: all;
  animation: showBounce 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
  transform-style: preserve-3d;
}

@keyframes showBounce{
  100%{
    opacity: 1;   
    transform: translateX(-21px) skewY(-5deg);
  }
}


.sub-menu li{
  display: flex;
}

.sub-menu a{
  font-size: 17px;
}


.menu-item:nth-of-type(3) .sub-menu li:nth-of-type(2) a{
  font-size: 21px;
}

.menu-item:nth-of-type(3) .sub-menu li:nth-of-type(3) a{
  font-size: 27px;
}

.menu-item a{
  position: relative;
  text-align: center;
}

.menu-item a:before{
  content: '';
  display: block;
  font-size: 34px;
  /*transform: rotateZ(-8deg);*/
  margin-bottom: 5px;
  transition: transform 189ms ease-out;
}

.menu-item a:hover:before{
  animation: hoverEmoji 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

@keyframes hoverEmoji{
  0%{
    transform: scaleX(.89) rotateX(-21deg) rotateZ(-8deg);
  }
  100%{
  transform:  rotateZ(-8deg);
  }
}


.scroll_button_a:hover:after{
  font-size: 18px;
  white-space: pre;
  content: attr(data-hover);
}

nav > ol.scroll_buttons_ol > .menu-item:nth-of-type(1) > a:before{
  content: '🏠';
}

nav > ol.scroll_buttons_ol > .menu-item:nth-of-type(2) > a:before{
  content: '🖥';
}
nav > ol.scroll_buttons_ol > .menu-item:nth-of-type(3) > a:before{
  content: '🎨';
}
nav > ol.scroll_buttons_ol > .menu-item:nth-of-type(4) > a:before{
  content: '💾';
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* END SCROLL MENU */








  