*{
    box-sizing: border-box;
}

.body_css{
    background-image: linear-gradient(#000000,#2642a1, #5259e7, #0099ff);

}
.main_div{
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    align-items: center;
}
.canvas_game{
    margin: auto;
    width: auto;
    height: 100%;
}

.title_screen{
    position: absolute;
    /*height: 591px;
    width: 853px;*/
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.wood_frame{
    position: relative;
    width: 95%;
    height: auto;
    margin-top:2%;
    z-index: -1;
}
.buttons{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 591px;*/
    width: 100%;
    height: auto;
    margin-top: 28%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;

}
.bottom_button{
    position: relative;
    width: 13%;
    height: auto;
    margin: 2%;
    margin-top: 17%;
    /*width: 120px;
    height: 120px;
    margin: 30px;
    top:80px;*/
    
}
.play_div{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 290px;*/
    width: 100%;
    height: auto;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
    display:flex;
    z-index: 1;
}
.play_button{
    position: relative;
    /*width: 120px;
    height: 120px;*/
    width: 13%;
    height: auto;
    top: 60px;
}
.about_button{
    position: absolute;
    /*width: 45px;
    height: 45px;
    top: 80px;
    left: 740;
    */
    width: 5%;
    height: auto;
    margin-left:79%;
    margin-top: -12%;
    z-index: 4;
}
.tutorial_div{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 591px;*/
    width: 100%;
    height: auto;
    justify-content: center;
    display:none;
}
.close_button_div{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 591px;*/
    width: 100%;
    height: auto;
    display:none;
    z-index: -1;
}
.close_button{
    position: relative;
    /*width: 45px;
    height: 45px;
    top: 80px;
    margin-left: 740;*/
    width: 5%;
    height: auto;
    margin-left: 87%;
    margin-top: 11.5%;

    z-index: 4;
}
.control_text{
    position: relative;
    /*top: 60px;*/
    margin-top:9.5%;
    color: black;

    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}
.mov_gif{
    position: relative;
    width: 66%;
    height: auto;
    /*width: 600px;
    height: 100px;
    top: 150px;*/
    margin-top:16.5%;
    outline: auto;
    outline-style: dashed;
    outline-color: rgb(46, 25, 14);
}
.fire_gif{
    position: relative;
    /*width: 600px;
    height: 100px;
    top: 275px;*/
    width: 66%;
    height: auto;
    margin-top: 30%;
    
    outline: auto;
    outline-style: dashed;
    outline-color: rgb(46, 25, 14);
}
.magic_gif{
    position: relative;
    /*width: 600px;
    height: 100px;
    top: 400px;*/
    width: 66%;
    height: auto;
    margin-top: 43.5%;
    outline: auto;
    outline-style: dashed;
    outline-color: rgb(46, 25, 14);
}
.info_div{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 591px;*/
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display:none;
}
.info_text_title{
    position:absolute;
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    /*top: 60;*/
    margin-top: -27%;
    
}
.info_text{
    position:relative;
    color: white;
    /*font-size: 22px;*/
    font-size: 3.5vh;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    text-align: center;
    padding-top:5%;
    
}
.close_button_info{
    position: absolute;
    /*width: 45px;
    height: 45px;
    top: 80px;
    margin-left: 673;*/
    width: 5%;
    height: auto;
    margin-left: 79%;
    padding-top: 1%;
    z-index: 4;
}
.game_over_div{
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 853px;
    height: 591px;*/
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display:none;
}
.game_over_text_title{
    position:absolute;
    color: black;
    font-size: 60px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    /*top: 160;*/
    margin-top:20%;
}
.score{
    position:relative;
    color: white;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    text-align: center;
    /*top:30;*/
    padding-top: 8%;
}
.close_button_gameOver{
    position: absolute;
    /*width: 45px;
    height: 45px;
    top: 80px;
    margin-left: 673;*/
    width: 5%;
    height: auto;
    margin-left: 79%;
    margin-top: -18.5%;
    
}
.hidden { display:none; }
.visible { display:flex; }




@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

    .play_div{
        top: -5%;
    }
    .buttons{
        margin-top: 20%; 
    }
    .about_button{
        margin-top: 0%;
    }

    .score{
        margin-top: 29%;
    }
    .info_text{
        margin-top:14%;
    }
    .close_button_info{
        margin-top: -32%;
    }

}
